<div class="site-section"  data-aos="fade">
  <div class="container">

    <div class="row justify-content-center">

      <div class="col-md-7">
        <div class="row mb-5">
          <div class="col-12 ">
            <h2 class="site-section-heading text-center">Forgot your password?</h2>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-8 mb-5">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-white" for="email">Email</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Send me reset password instructions" class="btn btn-primary py-2 px-4 text-white">
            </div>
          </div>


        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>