<div  class="text-center text-success">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>

<div  class="text-center text-danger">
  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
</div>