<div class="footer py-4">
<div class="container-fluid text-center">
  <p>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy; All rights reserved | nattylense
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  </p>
</div>