<div class="d-flex p-4">
	<div>
		<%= image_tag @preset.file.variant(:thumb) %>
	</div>

	<%= @preset.title %>
	<div class="cho-container"></div>
</div>

<script>
  const mp = new MercadoPago("<%= ENV['MERCADO_PAGO_PUBLIC_KEY'] %>", {
    locale: 'en-US'
  });

  mp.checkout({
    preference: {
      id: "<%= @preference_id %>"
    },
    render: {
      container: '.cho-container',
      label: 'Pay',
    }
  });
</script>
